.movie__header{
    background-color: red;
    color:white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    margin-top: 3rem;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: auto 18px;
    margin-right: 12px;
    font-weight: bold;
   
}
.nav-link{
text-decoration: none;
color: #ffffff;
transition: 0.3s all;

}

.nav-link:hover {
	color: black;
}
.nav-links li{
    margin: 1rem;
}

.nav-links a{
    padding: 8px;
    text-decoration: none;
    color: #ffffff;

}