.movie__header{
    background-color: red;
    color:white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    margin-top: 3rem;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: auto 18px;
    margin-right: 12px;
    font-weight: bold;
   
}

.nav-link{
text-decoration: none;
color: #ffffff;
transition: 0.3s all;

}

.nav-link:hover {
	color: black;
}
.nav-links li{
    margin: 1rem;
}

.nav-links a{
    padding: 8px;
    text-decoration: none;
    color: #ffffff;

}

@media only screen and (max-width: 500px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
	}

	.nav-links.active {
		background: blue;
		left: 0;
	}

	.nav-item {
		padding: 10px 0;
		border-top: 1px solid red;
		border-bottom: 1px solid red;
	}

	.nav-icon {
		display: flex;
	}
}