form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
   
}

input[type="text"]{
    width: 50%;
   min-width: 170px;
   padding: 8px;
}

button{
    background-color: transparent;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    padding:5px 8px;
    
}

button:hover{
background-color: #282c34;
}