form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
   
}

input[type="text"]{
    width: 50%;
    min-width: 170px;
    padding: 8px;
    background-color:  #151c24;
    border: 2px solid black;
    color: white;
    margin: 0.2em 0 0.5em 0;
    outline: none;
  
}

button{
    background-color: #151c24;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    padding:2px 8px;
    border: none;
    
}

button:hover{
background-color: #282c34;
}