body{
  background: #141414;
  color:#ffffff;
}

.row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background-color: blanchedalmond;
  overflow-x: auto;
	flex-wrap: nowrap;
  
}

h2{
  margin-left: 12px;
  
}

.search__bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}