*{
  margin: 0;
  padding: 0;
}
body{
  background: #141414;
  color:#ffffff;
}

.row{

  padding-top: 2rem;
  
}
  
  
 main{
   margin-top: 3rem;
 }
	
  

h2{
  margin-left: 12px;
  
}

.search__bar{
margin-top: 90px;

}

.container{
  padding: 12px;
  margin: 0 auto;
}