body{
  background: #141414;
  color:#ffffff;
}

.row{
  margin-left: 20px;
  color: #fff;
  
}

h2{
  margin-left: 12px;
  
}

.search__bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}